<header class="navbar navbar-dark bg-dark justify-items-start sticky-top">
  <div class="container-fluid">
    <a href="index.html" class="navbar-brand mb-0 h1">CoreSkill Skill System (CSSS)</a>
    <div>
      <div class="filter-group bg-white ms-5">
        <div class="btn-group bg-dark" role="group">
          <button type="button" class="filter-done btn px-4 btn-outline-light active">✔️</button>
          <button type="button" class="filter-star btn px-4 btn-outline-light active">⭐️</button>
          <button type="button" class="filter-not-done btn px-4 btn-outline-light active">❔️</button>
        </div>
      </div>
      <span class="filter-nothing-found alert alert-danger mt-4 d-none" role="alert">Nothing has been found.</span>
      <a href="graph.html" class="text-white-50 ms-5">Show dependency graph</a>
    </div>
    <form class="form-inline ms-auto">
      <span class="user-select"><select class="form-control me-3"></select></span>
      <button type="button" class="btn btn-outline-light my-2 my-sm-0 login">Sign in with Google</button>
      <button type="button" class="btn btn-outline-light my-2 my-sm-0 logout">Sign out</button>
    </form>
  </div>
</header>
