{{#if skill}}
  {{> list-item}}
{{else}}
    <p class="{{#if parent.parent}}h4 mt-4{{else}}h3 mt-5 display-4{{/if}}"><a href="{{slug}}.html">{{name}}</a></p>
    {{#if children.length}}
      <div class="list-group mt-2">
        {{#each children}}
          {{> node-item}}
        {{/each}}
      </div>
    {{/if}}
{{/if}}
