{{#if skill}}
  {{> list-item}}
{{else}}
  <div class="list-group-item">
    <a href="{{slug}}.html" class="h3">{{name}}</a>
    {{#if children.length}}
      <div class="list-group mt-2">
        {{#each children}}
          {{> node-item}}
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/if}}
