.not-done,
.done,
.star,

.indicator.is-done .not-done,
.indicator.is-star .not-done,

.logged-in .locked,
.indicator.not-done .locked,
.indicator.is-done .locked,
.indicator.is-star .locked,

.logged-in .note.note-empty,
.logged-in .login,

.logout,
.filter-group,
.note,
.note-changer,
.user-select {
  display: none;
}

.indicator.is-done .done,
.indicator.is-star .star,
.logged-in .not-done,
.logged-in .note,
.logged-in .logout,
.logged-in .filter-group,
.admin .user-select {
  display: inline-block;
}

.indicator {
  cursor: pointer;
  min-width: 3ch;

}

.indicator-list {
  min-width: 4ch;
  display: inline-block;
}

.indicator:hover,
.indicator:focus {
  background-color: #d4d4d4;
}

.admin .skill-item:hover .note-changer {
  display: inline-block;
}
