{{#with root}}
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CoreSkill Skill System (CSSS)</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="csss.css">
    <link rel="stylesheet" href="firebase.css">
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
  {{> header}}

  <main class="container-fluid p-4">
    <header class="mb-4">
      <h1 class="display-3 mb-0">CoreSkill Skill System (CSSS) <sup class="fw-bold text-danger">beta</sup></h1>
      <ul class="d-flex flex-wrap p-0">
        <li class="mx-3">Login with Google Account to enable checklist functionality.</li>
        <li class="mx-3">Items with 🚧️ have no detailed information</li>
        <li class="mx-3">Numbers in blue indicate levels <span class="badge rounded-pill bg-primary">1</span> means everybody should know that. <span class="badge rounded-pill bg-primary">5</span> means not everyone needs it. <span class="badge rounded-pill bg-primary">extra</span> is nice to have if you’re interested.</li>
      </ul>
    </header>
    <div class="skill-sections">
      {{#each children}}
        {{> node-item}}
      {{/each}}
    </div>
  </main>
  <script src="firebase.js"></script>
  <script src="filter.js"></script>
  </body>
  </html>
{{/with}}
