{{#with root}}
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CoreSkill Roadmap</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5/dist/css/bootstrap-night.min.css">
    <link rel="stylesheet" media="(prefers-color-scheme: light)" href="colors.css">
    <link rel="stylesheet" media="(prefers-color-scheme: light)" href="bootstrap.min.css">
    <link rel="stylesheet" href="csss.css">
    <link rel="stylesheet" href="firebase.css">
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body class="page-home">
  {{> header}}
  <main class="container-fluid px-4">
    <ul class="d-flex flex-wrap align-items-center mt-2 mb-4 pb-0 px-0">
      <li class="mx-3">Login with Google Account to enable checklist functionality.</li>
      <li class="mx-3">Skills with 📞️ have no detailed information and will be explained individually.</li>
      <li class="mx-3">
        Numbers indicate skill levels:
        <span class="mx-3"><span class="badge rounded-pill bg-light">0</span> formal</span>
        <span class="me-3"><span class="badge rounded-pill bg-success">1</span> basic</span>
        <span class="me-3"><span class="badge rounded-pill bg-cyan">2</span> advanced</span>
        <span class="me-3"><span class="badge rounded-pill bg-info">3</span> start looking for a job</span>
        <span class="me-3"><span class="badge rounded-pill bg-primary">4</span> can find job</span>
        <span class="me-3"><span class="badge rounded-pill bg-dark">5</span> should find job</span>
        <span class="me-3"><span class="badge rounded-pill bg-warning">extra</span> nice to have</span>
      </li>
    </ul>
    <div class="skill-sections">
      {{#each children}}
        {{> node-item}}
      {{/each}}
    </div>
  </main>
  <script src="firebase.js"></script>
  <script src="filter.js"></script>
  </body>
  </html>
{{/with}}
