:root {
  --bs-danger: rgb(220, 53, 69);
  --bs-danger-rgb: 220, 53, 69;
  --bs-dark: rgb(70, 70, 70);
  --bs-dark-rgb: 70, 70, 70;
  --bs-info: rgb(75, 149, 255);
  --bs-info-rgb: 75, 149, 255;
  --bs-light: rgb(173, 181, 189);
  --bs-light-rgb: 173, 181, 189;
  --bs-primary: rgb(13, 110, 253);
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary: rgb(67, 72, 86);
  --bs-secondary-rgb: 67, 72, 86;
  --bs-success: rgb(46, 153, 103);
  --bs-success-rgb: 46, 153, 103;
  --bs-warning: rgb(233, 176, 0);
  --bs-warning-rgb: 233, 176, 0;
  --bs-cyan: rgb(59, 170, 204);
}
