:root {
  --bs-font-sans-serif: Rubik, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-body-line-height: 1.6;
  font-size: 0.875rem;
}

.bg-cyan {
  --bs-bg-opacity: 1;
  background-color: var(--bs-cyan);
}

blockquote {
  border-left: 4px solid var(--bs-dark);
  padding-left: 1rem;
  color: var(--bs-dark);
}

b,
strong {
  font-weight: bold;
}

.container-fullhd {
  max-width: 1920px;
}

a.list-group-item {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  hyphens: auto;
}

.filter-group .btn:not(.active) {
  filter: grayscale(1);
}

@media (min-width: 768px) {
  .skill-sections {
    display: flex;
  }

  .skill-section {
    flex: 1 1 auto;
    min-width: 23rem;
    max-width: 33rem;
  }
}

.badge {
  font-weight: 500;
  font-size: 0.857143em;
  padding: 0.6666em 0.75em;
  min-width: 2.3333em;
}

.badge.bg-warning {
  color: var(--bs-body-color);
}

@media (prefers-color-scheme: dark) {
  .badge.bg-warning {
    color: var(--bs-dark);
  }
}


.markdown-text {
  max-width: 65ch;
}

.btn-outline-light:focus:not(.active),
.btn-outline-light:hover:not(.active) {
  background-color: transparent;
  color: white;
}

body:not(.page-home) .filter-counter,
body:not(.page-home) .filter-nothing-found,
body:not(.page-home) .filter-group {
  display: none;
}
