.indicator,
.done,
.star,
.indicator.is-done .not-done,
.indicator.is-star .not-done,
.logged-in .login,
.logout,
.filter-group,
.user-select {
  display: none;
}

.logged-in .indicator,
.indicator.is-done .done,
.indicator.is-star .star,
.logged-in .logout,
.logged-in .filter-group,
.admin .user-select {
  display: inline-block;
}

.indicator {
  cursor: pointer;
  min-width: 3ch;

}

.indicator-list {
  min-width: 5ch;
}

.indicator:hover,
.indicator:focus {
  background-color: #d4d4d4;
}
