.indicator-icon,
.logged-in .locked,
.logged-in .note.note-empty,
.logged-in .login,
.logout,
.filter-group,
.filter-counter,
.note,
.note-changer,
.user-select,
.administration,
.logged-in .hidden-when-logged-in {
  display: none;
}

.logged-in .indicator-icon,
.logged-in .note,
.logged-in .logout,
.logged-in .filter-group,
.logged-in .filter-counter,
.admin .user-select,
.admin .administration {
  display: inline-block;
}

.indicator {
  cursor: pointer;
}

.indicator-list {
  min-width: 4ch;
  display: inline-block;
}

.indicator-detail {
  display: none;
  min-width: 3ch;
}

.logged-in .indicator-detail {
  display: inline;
}

.indicator:hover,
.indicator:focus {
  background-color: #d4d4d4;
}

.note.note-empty {
  background-color: transparent !important;
}

.skill-detail .note.note-empty {
  padding: 0;
}

.admin .skill-detail .note.note-empty {
  background-color: var(--bs-gray-200) !important;
  transform: scale(1);
  padding: 0.6666em 0.75em;
}

.admin .skill-detail .note.note-empty .note-changer,
.admin .skill-item:hover .note.note-empty,
.admin .skill-item:hover .note-changer {
  display: inline-block;
}

.note-changer {
  cursor: pointer;
}

.note:hover .note-changer {
  transform: scale(3);
  transition: transform 100ms ease-in-out;
}
